.venv
venv
__pycache__
*.pyc
*.pyo

.git
.gitignore

ml-assets
datasets

inference/*.kv
inference/*.vec
inference/*.kv.vectors.npy
/inference/word2vec.model.wv.vectors.npy
/inference/word2vec.model
/inference/word2vec.model.syn1neg.npy
/data/datasets/english_corpus.txt


.DS_Store
Thumbs.db

*.log