.venv/
.vscode/
.idea/
__pycache__/
.pytest_cache/
*.pyc
.env
data/*.pkl
data/*.bin
/inference/*.kv
/inference/*.vec
/inference/*.kv.vectors.npy
/inference/word2vec.model.wv.vectors.npy
/data/raw/english_corpus.txt
/inference/word2vec.model
/inference/word2vec.model.syn1neg.npy
/data-previous/datasets/spam_Emails_data.csv
/models-previous/tacotron2.py
/models/llm/llm_correct_paragraph.py
#/inference/spam_classification_model.pth
/data/ljspeech/LJSpeech-1.1/wavs/*.wav
*.pth
data/
