.venv/
.vscode/
.idea/
__pycache__/
.pytest_cache/
*.pyc
.env
data/*.pkl
data/*.bin
/inference/*.kv
/inference/*.vec
/inference/*.kv.vectors.npy
/inference/word2vec.model.wv.vectors.npy
/inference/word2vec.model
/inference/word2vec.model.syn1neg.npy
/data/datasets/spam_Emails_data.csv
#/inference/spam_classification_model.pth
/data/ljspeech/LJSpeech-1.1/wavs/*.wav
/data/ljspeech/fleurs/
/data/tts/fleurs/de_de/train/
/data/tts/fleurs/de_de/test/
/data/tts/fleurs/en_us/train/
/data/tts/fleurs/en_us/test/
*.pth
.DS_Store
